body
{
    width: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.main
{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: blue;
}
.d1
{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d1_1
{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d1_2
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: yellow;

}
.d1_horizontal
{
    width: 100%;
    height: 40%;
    background-color: yellow;
}
.d2
{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d2_quadrado
{
    width: 30%;
    height: 100%;
    background-color: yellow;
}
.d2_retangulo
{
    width: 60%;
    height: 100%;
    background-color: yellow;
}